      <!-- INíCIO do CONTEÚDO -->
      <section class="content-header">
        <h1>
          Todos os Restaurantes
          <a (click)="toggleSearch()" class="pull-right search-link"><i class="fa fa-search"></i></a>
        </h1>
        <!-- barra de busca-->
        <div class="row">
          <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
            <form>
              <div class="form-group">
                  <input type="text"
                         class="form-control" placeholder="O que você está procurando?">
              </div>
            </form>
          </div>
        </div>
      </section>


      <section class="content">

        <div class="row">
          <div class="col-sm-6 col-xs-12" *ngFor="let restaurant of restaurants">
            <mt-restaurant [restaurant]='restaurant'></mt-restaurant>
          </div>
          <!-- /.col -->
          </div>

      </section>

      <!-- FIM  do CONTEÚDO -->
